@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'kanit', sans-serif;
    padding: 0;
    background-color: #f4f4f4;
    margin: 0;
    min-height: 100vh;
    font-size: large;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 100px 8px;
    padding-top: 120px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select {
    width: 30vw;
    padding: 6px;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-width: 3px;
    border-radius: 4px;
    height: 40px;
    font-size: large;
    background: transparent;
    color: Black;
}

.register-account {
    color:olivedrab;
    align-self: center;
    padding: 0;
    margin: 30px 0;
}

button {
    padding: 15px 15px;
    background-color: olivedrab;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    width: 30vw;
    align-self: center;
}

button:hover {
    background-color: darkolivegreen;
}
#submit-booking {
    padding: 15px 15px;
    background-color: olivedrab;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 140px;
    width: 30vw;
    align-self: start;
}

ul {
    list-style-type: none;
}

li{
    padding-right: 20px;
}

a {
    color: white;
}

.error {
    color: #d9534f;
    margin-top: 10px;
}

.success {
    color: black;
    padding-top: 500px;
    margin: 0 20px;
    text-align: center;
}

h3 {
    margin: 20px 20px;
    text-align: center;
}

.confirm {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 8px;
    text-align: center;
}
p {
    max-width: 400px;
    align-self: flex-start;
    margin-left: 60px;
    color: #f4f4f4;
    margin-top: 40px;
}

#booking-picture {
    background-image: url(../images/book.jpg.jpg);
    background-size: cover;
    background-position: 70%;
    flex-grow: 1;
}
/* Accounts */

h1 {
    color: olivedrab;
}
.details {
    text-align: center;
}
label {
    margin: 20px;
}

#login {
    text-align: center;
    margin-top: 120px;
    text-transform: uppercase;
}
/* Header */

#logo {
    color: white
}
header {
    background-color: olivedrab;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
    margin-right: 6px;
}

nav {
    position: absolute;
    background-color: olivedrab;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
ul {
    margin: 0;
}
#nav-toggle {
    display: none;
}
#nav-toggle:checked~nav {
    display: block;
}
.nav-toggle-label {
    font-size: 2rem;
}
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none; 
    color: #ffffff;
    display: inline-flex;
}
#menu > li {
    margin-bottom: 1em;
}
.active{
    border-bottom: 1px solid #ffffff;
}

/* Footer */

#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 95vh;
}
#socials i {
    font-size: 160%;
    padding: 5%;
    color:#ffffff;
}
footer {
    background-color: olivedrab;
}

h2 {
    margin: 0 8px;
}
@media screen and (min-width: 1200px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    header label {
        visibility: hidden;
    }
}