<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'book_lessons' %}">
            <h1 id="logo">Learn Golf <i class="fa-solid fa-golf-ball-tee"></i></h1>
        </a>
        <input type="checkbox" id="nav-toggle" name="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label"><i class="fa-solid fa-bars"></i></label>
        <nav>
            <ul id="menu">
                <li>Home</li>
                <li>Gallery</li>
                <li>Golf Careers</li>
                <li><a href="{% url 'book_lessons' %}" class="active">Golf Lessons</a></li>
            </ul>
        </nav>
    </header>
    <div class="login-container">
        <h1 id="login">Login</h1>
        <form method="post" action="{% url 'login' %}" class="details">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            </div>
            <div>
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
            </div>
            <button type="submit">Login</button>
            <p class="register-account">Dont have an account?<a href="{% url 'register' %}" class="register-account">   Register here</a></p>
        </form>
    </div>
    <footer>
        <ul id="socials">
            <li>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our facebook page(opens in new tab)"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank" rel="noopener"
                    aria-label="Visit our twitter page(opens in a new tab)"> <i class="fa-brands fa-x-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                    aria-label="Visit our YouTube channel(opens in a new tab)"><i class="fa-brands fa-youtube"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page(opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>
    </footer>
    <script src="https://kit.fontawesome.com/856dbb2edf.js" crossorigin="anonymous"></script>
</body>
</html>