<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Successful</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <h1 id="logo">Learn Golf <i class="fa-solid fa-golf-ball-tee"></i></h1>
        </a>
        <input type="checkbox" id="nav-toggle" name="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label"><i class="fa-solid fa-bars"></i></label>
        <nav>
            <ul id="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                <li><a href="{% url 'careers' %}">Golf Careers</a></li>
                <li><a href="{% url 'book_lessons' %}">Golf Lessons</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">LOGIN</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h2 class="success">Booking Successful!</h2>
        <p id="thank-you">Thank you for booking a lesson with us. We look forward to seeing you!
        <a href="{% url 'book_lessons' %}" class="success">Book another lesson?</a></p>
    </main>

    <footer>
        <ul id="socials">
            <li>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                   aria-label="Visit our facebook page (opens in new tab)">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank" rel="noopener"
                   aria-label="Visit our twitter page (opens in a new tab)">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                   aria-label="Visit our YouTube channel (opens in a new tab)">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                   aria-label="Visit our Instagram page (opens in a new tab)">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </footer>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/856dbb2edf.js" crossorigin="anonymous"></script>
</body>
</html>
